<h2>All lists</h2>
<%= link_to 'New Article', new_article_path %>
<table>
  <tr>
    <th>title</th>
    <th>text</th>
    <th>Action</th>
  </tr>
 <% @article.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
  </tr>
  <% end %>
</table>